services:
    joram.admin.menu_builder_listener:
        class: Joram\SyliusNewsletterPlugin\EventListener\MenuBuilderListener
        tags:
            - { name: kernel.event_listener, event: sylius.menu.admin.main, method: addBackendMenuItems }
    joram.form.extension.type.customer_profile:
        class: Joram\SyliusNewsletterPlugin\Form\Extension\CustomerProfileTypeExtension
        tags:
            - { name: form.type_extension, extended_type: Sylius\Bundle\CustomerBundle\Form\Type\CustomerProfileType }
    joram.command.newsletter_send:
        class: Joram\SyliusNewsletterPlugin\Command\NewsletterSendCommand
        tags:
            - { name: console.command }
        autowire: true
    joram.grid.filter.newsletter_subscription:
        class: Joram\SyliusNewsletterPlugin\Grid\Filter\NewsletterSubscriptionFilter
        tags:
            -
                name: sylius.grid_filter
                type: newsletter_subscription
                form_type: Joram\SyliusNewsletterPlugin\Grid\Filter\NewsletterSubscriptionFilterType
    joram.newsletter.form.type:
        class: Joram\SyliusNewsletterPlugin\Form\Type\NewsletterType
        tags:
            - { name: form.type }
        arguments: ['%joram.model.newsletter.class%', ['sylius']]
        
    joram.newsletter_translation.form.type:
        class: Joram\SyliusNewsletterPlugin\Form\Type\NewsletterTranslationType
        tags:
            - { name: form.type }
        arguments: ['%joram.model.newsletter_translation.class%', ['sylius']]
